
/* CSS de la page Reservia*/

/* Polices personnalisées---------------*/
@font-face {
    font-family: 'Raleway_regular';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway_bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}
/*---------------------------------------*/


/* Mise en page générale-----------------*/
#bloc_page{
    font-family: Raleway_regular, sans-serif;
    width: 100%;
    margin: auto;
}
/*---------------------------------------*/



/* Part 1 : En-tête----------------------*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: auto;
}

/* Menu */
nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin: 30px;
}

nav a{
    font-size: 20px; 
    color: #181818;
    padding-top: 45px;
    text-decoration: none;
}

#nav_inscrire{
    color: #0065FC;
    font-weight: bolder;

}

nav a:hover{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}
/*---------------------------------------*/



/* Part 2 :  Section de Recherche--------*/
#search_section{
    width: 93%;
    margin: auto;
}
/* Titre */
#main_title{
    line-height: 15px;
    text-align: left;
    margin-bottom: 20px;
}

h1{
    font-size: 21px;
    font-weight: bolder;
    font-family: 'Raleway_bold';
}

h1 p{
    font-size: 14px;
}

/* Search section*/
#search_section{
    margin-bottom: 30px;
}
#search_bar{
    display: flex;
    align-items: baseline;
    border-collapse: collapse;
}
#input_part{
    display: flex;
    justify-content: flex-start;
    border-collapse: collapse;
    height: 50px;
    width: fit-content;
    border: 2px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
}
#button_part{
    display: flex;
    position: relative;
    top: -1px;
    left: -6px;
}

#icon_mapmarker{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 50px;
    width: 50px;
}

#search_button{
    font-family: 'Raleway_bold';
    font-size: 14px;
    background-color: #0065FC;
    border-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    height: 52px;
}
#loop_button{
    visibility: hidden;
}

#input_search{
    padding-left: 10px;
    font-weight: bolder;
}


#filtres{
    display: flex;
    align-items: baseline;
    width: 70%;
}

#liste_filtres{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#filtres p{
    font-family: 'Raleway_bold';
    font-size: 17px;
    font-weight: bolder;
    margin-right: 25px;
}

.filtre_button{
    display: flex;
    align-items: center;
    font-weight: bolder;
    min-width: 150px;
    max-width: 240px;
    height: 40px;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    margin-right: 20px;
    border-left: none;
}

.filtre_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #0065FC;
    background-color: #DEEBFF;
    margin-right: 7px;
    padding: 3px;
    height: 40px;
    width: 40px;
    border-radius: 75px;
}
.filtre_text{
    font-family: 'Raleway_bold';
    font-size: 15px;
    font-weight: bolder;
    text-align: justify;
    padding-right: 6px;
    padding-left: 3px;
}

.filtre_button:hover{
    background-color:  #0065FC;
    color: #F2F2F2;
}

#icon_info{
    color: #0065FC;
    margin-right: 7px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 75px;
    border: 3px #F2F2F2 solid;

}
#text_info{
    font-size: 13px;
}

/*---------------------------------------*/



/* Part 3: Section Hébergements----------*/
#hebergements_section{
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: auto;
}

#hebergements_section h2{
    font-family: 'Raleway_bold';
    font-weight: bolder;
    font-size: 21px;
    padding-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#hebergements_article{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 20px;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#all_hebergements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    
}

.hebergement_link{
    text-decoration: none;
    color: #181818;
}

.hebergement_annonce{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 210px;
    height: 190px;
    margin-bottom: 35px;
    border-radius: 10px;
    box-shadow: 6px 6px 3px #f2f2f2;
    background-color: white;
    padding: 5px;
}

.hebergement_image {
    width: 210px;
    height: 115px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#image_row1_1,#image_row1_2, #image_row1_3, #image_row2_1, #image_row2_2, #image_row2_3{
    position: relative;
    width: 100%;
    height: auto;
}

#image_row1_1,#image_row1_2, #image_row1_3{
    top: -10px;
 }

#image_row2_1{
    top: -40px;
}
#image_row2_3{
    top: -100px;
}

.text_annonce{
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px
}
.text_annonce strong{
    font-weight: bolder;
    font-family: 'Raleway_bold';
}

#link_more a{
    color: #181818;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Raleway_bold';
}
#link_more{
    margin-bottom: 40px;
    margin-left: 15px;
}

.blue_star{
    color: #0065FC;
}
.grey_star{
    color: #F2F2F2;
}

aside{
    width: 30%;
    margin-left: 10px;
    padding: 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#aside_header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
#aside_header h3{
    font-family: 'Raleway_bold';
    font-weight: bolder;
    font-size: 21px;
}

.sidebar_annonce_link{
    text-decoration: none;
    color: #181818;
}

.sidebar_annonce{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 130px;
    background-color: white;
    padding: 5px;
}

.sidebar_text_annonce{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.sidebar_text_annonce strong{
    font-family: 'Raleway_bold';
    font-weight: bolder;
}

.sidebar_annonce p{
    text-align: justify;
    font-size: 15px;
    padding-left: 5px;
}

.sidebar_image {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#sidebar_image1, #sidebar_image2{
    position: relative;
    height: 100%;
    width: auto;  
    left: -15px;
}

#sidebar_image3{
    position: relative;
    width: 100%;
    height: auto;
    top: -30px;
}

/*---------------------------------------*/



/* Part 4: Section Activités-------------*/
#activites_article{
    width: 93%;
    margin: auto;
    margin-bottom: 30px;
}

#activites_article h4{
    font-family: 'Raleway_bold';
    font-weight: bolder;
    font-size: 21px;
}

#all_activites{
    display: flex;
    justify-content: space-between;
}

.activite_link{
    text-decoration: none;
    color: #181818;
}

.activite_annonce{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 6px 6px 6px #F2F2F2;
    background-color: white;

}
#activite_annonce2, #activite_annonce5{
    margin-bottom: 40px;
}

.activite_annonce p{
    padding-left: 5px;
    text-align: justify;
    height: 20px;
    font-weight: bolder;
    font-family: 'Raleway_bold';
    font-size: 15px;
}

.image_container{
    width: 280px;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#image_container1, #image_container4{
    height: 390px;
}
#image_container2{
   height: 180px;
}
#image_container3{
    height: 115px;
}
#image_container5{
    height: 140px;
}
#image_container6{
    height: 155px;
}

#activite_image1, #activite_image4{
    position: relative;
    height: 100%;
    width: auto;
    left: -150px;
}

#activite_image2, #activite_image3, #activite_image5, #activite_image6{
    position: relative;
    width: 100%;
    height: auto;
} 

#activite_image2{
    top: -90px;
}
#activite_image6{
    bottom: 15px;  
}

/*---------------------------------------*/



/* Part 5: Pied de page -----------------*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    background-color: #F2F2F2;
}

footer div{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    margin-top: 45px;
    margin-bottom: 35px;
    margin-left: 45px;
    margin-right: 150px;
}
footer div a{
    color: #181818;
    text-decoration: none;
    font-size: 16px;
}

.footer_row1{
    font-family: 'Raleway_bold';
    font-weight: bolder;
}
/*---------------------------------------*/




/* Spécification pour les écrans type tablette -------------------------------------*/
@media (min-width:768px) and (max-width: 991px){

    /* Section Recherche */
    #filtres{
        width: 100%;
    }

    /* Section hébergements */
    #hebergements_section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    #hebergements_article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 35px;
        margin-right: 0px;
        padding: 15px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }

    /* Sidebar */
    aside{
        width: 98%;
        padding: 25px;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-bottom: 25px;
        margin-left: 0px;
    }
  

    #aside_body{
        display: flex;
       justify-content: center;
       padding-left: 30px;
    }

    .sidebar_annonce{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 45px;
        border-radius: 10px;
        height: 220px;
        width: 160px;
    }
    .sidebar_image {
        width: 160px;
        height: 160px;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
   
    
    #sidebar_image1,#sidebar_image3, #sidebar_image2{
        position: relative;
        width: 100%;
        height: auto;
        left: 0px;
    }
    #sidebar_image3{
        top: -85px;
    }

    /* Section Activités */
    #activites_article{
        width: 100%;
    }

    #activites_article h4{
        margin-left: 65px;
    }
    #all_activites{
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .colonne{
        margin-bottom: 35px;
    }

}
/*------------------------------------------------------------------------------------------*/




/* Spécification pour les petits écrans (smartphones) --------------------------------------*/
@media (max-width: 768px){

    /* En-tête */
    header{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        margin: auto;
    }
    
    /* Menu */
    nav ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap-reverse;
    }

    
    nav a{
        font-size: 1.2em;
        color: #181818;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
        border-bottom: 3px solid #F2F2F2;
    }
    
    #nav_inscrire{
        color: #0065FC;
        font-weight: bolder;
    
    }
    
    nav a:hover{
        color:#0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    /* Section Recherche */
    h1{
        line-height: 25px;
    }

    #button_part{
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        top: -2px;
        left: -10px;
    }
    #search_button{
        visibility: hidden;
    }
    #loop_button{
        visibility: visible;
        font-family: 'Raleway_bold';
        background-color: #0065FC;
        border-color: #0065FC;
        border-radius: 15px;
        color: #FFFFFF;
        padding: 5px;
        height: 52px;
        width: 52px;
    }

    #filtres{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 70%;
    }

    #liste_filtres{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    .filtre_button{
        margin-bottom: 10px;
    }

    /* Section Hebergements */
    #hebergements_section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        justify-items: center;
    }

    aside{
        width: 100%;
        border-radius: 0px;
        margin: auto;
        margin-bottom: 25px;
        padding: 25px;
    }

    #hebergements_article{
        width: 100%;
        margin: auto;
        justify-items: center;
        background-color: white;
        border-radius: 0px;
    }

    #hebergements_section h2{
        padding-left: 0px;
    }
    
    #all_hebergements{
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        
    }
    
    .hebergement_annonce{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 400px;
        margin-bottom: 25px;
        border-radius: 15px;
        box-shadow: 6px 6px 4px #F2F2F2;
        background-color: white;
        padding: 5px;
        padding-right: 0px;
    }
    
    .hebergement_image {
        width: 400px;
        height: 150px;
        overflow: hidden;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    #image_row1_1,#image_row1_2, #image_row1_3{
        top: -60px;
    }
    #image_row2_1{
        top: -120px;
    }
    #image_row2_2{
        top: -40px;
    }
    #image_row2_3{
        top: -230px;
    }

    /* Section Activité */
    #all_activites{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .colonne{
        max-width: 400px;
        margin-bottom: 35px;
    }
    .activite_link{
        text-decoration: none;
        color: #181818;
    }
    
    .activite_annonce{
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 6px 6px 6px #F2F2F2;
        background-color: white;
    }

    .image_container{
        width: 400px;
        height: 150px;
        overflow: hidden;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    #image_container1, #image_container2, #image_container3, #image_container4, #image_container5, #image_container6{
        height: 150px;
    }

    #activite_image1, #activite_image2, #activite_image3, #activite_image4, #activite_image5, #activite_image6{
        position: relative;
        width: 100%;
        height: auto;
    } 

    #activite_image1{
        left: 0px;
        top: -40px;
    }
    #activite_image2{
        top: -200px;
    }
    #activite_image3{
        top: -30px;
    }
    #activite_image4{
        left: 0px;
        bottom: 55px;
    }
    #activite_image5{
        top: -20px;
    }
    #activite_image6{
        top: -50px; 
    }

    /* Footer */
    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding-left: 25px;
        padding-top: 30px;
    }
    footer div{
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        line-height: 25px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
}

/*---------------------------------------*/


