
/* CSS de la page Reservia*/

/* Polices personnalisées---------------*/
@font-face {
    font-family: 'Raleway_regular';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway_bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}
/*---------------------------------------*/


/* Mise en page générale-----------------*/
#bloc_page, body {
    font-family: Raleway_regular, sans-serif;
    width: 100%;
    margin: auto;
}
/*---------------------------------------*/



/* Part 1 : En-tête----------------------*/
header {
    width: 93%;
    margin: auto;
    margin-bottom: 25px;
}

/* Menu */
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav img {
    position: absolute;
    left: 4%;
}

#main_menu {
    display: flex;

}

#main_menu p {
    margin: 30px;
}

nav a {
    font-size: 20px; 
    color: #181818;
    padding-top: 30px;
    text-decoration: none;
}

#nav_inscrire {
    color: #0065FC;
    font-weight: bolder;
    margin-left: 30px;
}

nav a:hover {
    color:#0065FC;
    border-top: 3px solid #0065FC;
}
/*---------------------------------------*/



/* Part 2 :  Section de Recherche--------*/
/* Titre */
#main_title {
    line-height: 15px;
    text-align: left;
    margin-bottom: 20px;
}

h1 {
    font-size: 21px;
    font-weight: bolder;
    font-family: 'Raleway_bold';
}

h1 p {
    font-size: 14px;
}

/* Search section*/
#search_section {
    width: 93%;
    margin: auto;
    margin-bottom: 45px;
}

#search_bar {
    display: flex;
    align-items: baseline;
    border-collapse: collapse;
    margin: 35px 0px 20px 0px;
}

#input_part {
    display: flex;
    justify-content: flex-start;
    border-collapse: collapse;
    height: 50px;
    width: fit-content;
    border: 2px #F2F2F2 solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: none;
    border-right: none;
    margin-bottom: 15px;
    padding-right: 5px;
}

#button_part {
    display: flex;
    position: relative;
    top: -1px;
    left: -6px;
}

#icon_mapmarker {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 50px;
    width: 50px;
}

#desktop_search_button {
    font-family: 'Raleway_bold';
    font-size: 16px;
    background-color: #0065FC;
    border-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #FFFFFF;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
    height: 53px;
}

#smallscreen_search_button {
    visibility: hidden;
}

#input_search {
    font-size: 16px;
    padding-left: 30px;
    font-weight: bolder;
    border: none;
}


#filtres {
    display: flex;
    align-items: baseline;
    width: 80%;
}

#liste_filtres {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.double_filtres {
    display: flex;
    margin-right: 10%;
}

.double_filtres .filtre_button {
    margin-right: 7%;
}

#filtres p {
    font-family: 'Raleway_bold';
    font-size: 17px;
    font-weight: bolder;

}

.filtre_button {
    display: flex;
    align-items: center;
    font-weight: bolder;
    max-width: 200px;
    height: 40px;
    border: 2px #F2F2F2 solid;
    border-radius: 20px;
    margin-left: 10%;
    border-left: none;
}

.filtre_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #0065FC;
    background-color: #DEEBFF;
    margin-right: 7px;
    padding: 3px;
    height: 40px;
    width: 40px;
    border-radius: 75px;
}

.filtre_text {
    font-family: 'Raleway_bold';
    font-size: 15px;
    font-weight: bolder;
    text-align: justify;
    width: max-content;
    padding-right: 10px;
    padding-left: 3px;
}

.filtre_button:hover {
    background-color:  #0065FC;
    color: #F2F2F2;
}

#icon_info {
    color: #0065FC;
    margin-right: 7px;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 75px;
    border: 3px #F2F2F2 solid;

}

#text_info {
    font-size: 14px;
    line-height: 35px;
}

/*---------------------------------------*/



/* Part 3: Section Hébergements----------*/
#main_section {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: auto;
}

#hebergements_section {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px 0px 20px 0px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 5%;
}

#hebergements_section h2 {
    font-family: 'Raleway_bold';
    font-weight: bolder;
    font-size: 21px;
    padding-left: 5%;
    padding-top: 30px;
    margin-bottom: 30px;
}

#all_hebergements {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.row_hebergements{
    display: flex;
    justify-content: space-evenly;
}

.hebergement_link {
    text-decoration: none;
    color: #181818;
}

.hebergement_annonce {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 180px;
    max-width: 280px;
    height: 200px;
    margin-bottom: 35px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 6px 6px 3px #f2f2f2;
    background-color: white;
    padding: 5px;
}

.hebergement_image_container {
    width: 100%;
    height: 115px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#image_row1_1,#image_row1_2, #image_row1_3, #image_row2_1, #image_row2_2, #image_row2_3 {
    position: relative;
    width: 100%;
    height: auto;
    
}

#image_row1_1,#image_row1_2, #image_row1_3 {
    top: -15px;
 }

#image_row2_1 {
    top: -45px;
}

#image_row2_3 {
    top: -120px;
}

.text_annonce {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px
}

.text_annonce strong {
    font-weight: bolder;
    font-family: 'Raleway_bold';
}

#link_more a {
    color: #181818;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Raleway_bold';
}

#link_more {
    margin-bottom: 40px;
    margin-left: 4%;
}

.blue_star {
    color: #0065FC;
}

.grey_star {
    color: #F2F2F2;
}

aside {
    width: 33%;
    padding: 1%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

#aside_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#aside_header h3 {
    font-family: 'Raleway_bold';
    font-weight: bolder;
    font-size: 21px;
}

.sidebar_annonce_link {
    text-decoration: none;
    color: #181818;
}

.sidebar_annonce {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    border-radius: 10px;
    height: 130px;
    background-color: white;
    padding: 5px;
}

.sidebar_text_annonce {
    display: flex;
    flex-direction: column;
    text-align: justify;
    position: relative;
    top: -10px;
    font-size: 15px;
    padding-left: 10px;
}

.sidebar_text_annonce strong {
    font-family: 'Raleway_bold';
    font-weight: bolder;
}

.sidebar_image_container {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#sidebar_image1, #sidebar_image2 {
    position: relative;
    height: 100%;
    width: auto;  
    left: -15px;
}

#sidebar_image3 {
    position: relative;
    width: 100%;
    height: auto;
    top: -30px;
}

/*---------------------------------------*/



/* Part 4: Section Activités-------------*/
#activites_section {
    width: 93%;
    margin: auto;
    margin-bottom: 30px;
}

#activites_section h4 {
    font-family: 'Raleway_bold';
    font-weight: bolder;
    font-size: 21px;
}

#all_activites {
    display: flex;
    justify-content: space-between;
}

.colonne {
    min-width: 245px;
    max-width: 400px;
}

.activite_link {
    text-decoration: none;
    color: #181818;
}

.activite_annonce {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 6px 6px 6px #F2F2F2;
    background-color: white;

}

#activite_annonce2, #activite_annonce5 {
    margin-bottom: 50px;
}

.activite_annonce p {
    padding-left: 5px;
    text-align: justify;
    height: 20px;
    font-weight: bolder;
    font-family: 'Raleway_bold';
    font-size: 15px;
}

.image_container {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#image_container1{
    height: 445px;
}

#image_container2 {
   height: 210px;
}

#image_container3 {
    height: 135px;
    
}

#image_container4 {
    height: 445px;
    filter: brightness(130%) contrast(85%) saturate(110%);
}

#image_container5 {
    height: 165px;
    filter: brightness(105%) contrast(90%);
}

#image_container6 {
    height: 180px;
    filter: brightness(110%) contrast(90%);
}

#activite_image1, #activite_image4 {
    position: relative;
    height: 100%;
    width: auto;
    left: -150px;
    
}

#activite_image2, #activite_image3, #activite_image5, #activite_image6 {
    position: relative;
    width: 100%;
    height: auto;
} 

#activite_image2 {
    top: -150px;
}

#activite_image6 {
    bottom: 15px;  
}

/*---------------------------------------*/



/* Part 5: Pied de page -----------------*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    background-color: #F2F2F2;
}

footer div {
    display: flex;
    flex-direction: column;
    line-height: 35px;
    padding: 30px;
}

footer div a {
    color: #181818;
    text-decoration: none;
    font-size: 16px;
}

footer div span {
    font-family: 'Raleway_bold';
    font-weight: bold;
    display:inline-block;
    margin-bottom: 30px;
}
/*---------------------------------------*/




/* Spécification pour les écrans type tablette -------------------------------------*/
@media (min-width:768px) and (max-width: 991px) {

    /* Section Recherche */
    #filtres {
        width: 100%;
        flex-wrap: wrap;
    }

    /* Section hébergements */
    #main_section {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        margin-bottom: 25px;
    }

    #hebergements_section {
        width: 95%;
        margin: auto;
        margin-bottom: 35px;
    }

    /* Sidebar */
    aside {
        width: 92%;
        margin: auto;
    }

    #aside_body {
        display: flex;
        justify-content: space-between;
    }

    #aside_header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sidebar_annonce {
        flex-direction: column;
        height: 240px;
        max-width: 250px;
        min-width: 200px;
    }

    .sidebar_image_container {
        width: 100%;
        height: 160px;
        overflow: hidden;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
   
    
    #sidebar_image1, #sidebar_image2 {
        position: relative;
        width: 100%;
        height: auto;
        left: 0px;
        top: -5px;
    }

    #sidebar_image3 {
        top: -115px;
    }

    /* Section Activités */
    #activites_section {
        width: 100%;
    }

    #activites_section h4 {
        margin-left: 65px;
    }

    #all_activites {
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .colonne {
        min-width: 275px;
        max-width: 320px;
        padding-left: 1%;
        padding-right: 1%;
        margin-bottom: 35px;
    }

}
/*------------------------------------------------------------------------------------------*/




/* Spécification pour les petits écrans (smartphones) --------------------------------------*/
@media only screen and (max-width: 768px) {

    #bloc_page {
        margin: 0px 0px 0px 0px;
    }

    /* En-tête */   
    /* Menu de navigation */
    header {
        width: 98%;
        margin: auto;
    }

    nav {
        margin: auto;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    nav img {
        left: 25px;
    }
    
    #main_menu {
        justify-content: center;
        width: 100%;
        margin: 20px 0px 25px 0px;
        border-bottom: 3px #F2F2F2 solid;
    }
    
    #main_menu p {
        margin: 0px;
        margin-bottom: 15px;
    }
    
    nav a {
        padding-top: 0px;
        padding-bottom: 15px;
        padding-right: 30px;
        padding-left: 30px;
    }
    
    #nav_inscrire {
        margin-left: 0px;
    }
    
    nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }



    /* Section Recherche */
    #search_section {
        width: 98%;
        margin: auto;
    }

    h1 {
        line-height: 25px;
    }
    
    #icon_mapmarker {
        width: 60px;
    }

    #input_search {
        padding-left: 25px;
    }
    
    #button_part {
        flex-direction: row-reverse;
        position: relative;
        left: -10px;
    }

    #desktop_search_button {
        visibility: hidden;
        width: 0px;
        padding: 0px;
    }
    
    #smallscreen_search_button {
        visibility: visible;
        font-family: 'Raleway_bold';
        background-color: #0065FC;
        border-color: #0065FC;
        border-radius: 15px;
        color: #FFFFFF;
        padding: 5px;
        height: 53px;
        width: 52px;
    }

    #filtres {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #liste_filtres {
        flex-direction: column;
        margin-right: 0px;
    }

    .filtre_button {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    /* Section Hebergements */
    #main_section {
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }

    #hebergements_section {
        width: 100%;
        margin-right: 0px;
        justify-items: center;
        background-color: white;
        border-radius: 0px;
        padding: 0px;
    }

    #hebergements_section h2 {
        padding-left: 5%;
    }
    
    #all_hebergements {
        flex-direction: column;
        justify-items: center;
    }

    .row_hebergements {
        flex-direction: column;
        justify-items: center;
    }
    
    .hebergement_annonce {
        max-width: 345px;
        margin: auto;
        margin-bottom: 25px;
        border-radius: 15px;
        box-shadow: 6px 6px 4px #F2F2F2;
    }
    
    .hebergement_image_container {
        height: 150px;
    }
    
    #image_row1_1,#image_row1_2, #image_row1_3 {
        top: -60px;
    }

    #image_row2_1 {
        top: -120px;
    }

    #image_row2_2 {
        top: -40px;
    }

    #image_row2_3 {
        top: -230px;
    }

    #link_more {
        margin-left: 35px;
    }

    /* Sidebar */
    aside {
        width: 92%;
        margin: auto;
        border-radius: 0px;
        padding: 15px;
    }

    #aside_header {
        padding-left: 2%;
        padding-right: 2%;
    }

    #aside_body {
       width: 100%;
       margin: auto;
    }

    .sidebar_annonce {
        margin: auto;
        margin-bottom: 30px;
        min-width: 90%;
        box-shadow: 4px 4px 0px #F2F2F2;
    }

    .sidebar_text_annonce {
        padding-left: 15px;
    }


    /* Section Activité */
    #activites_section {
        width: 93%;
        margin: auto;
    }

    #activites_section h4{
        padding-left: 5%;
    }

    #all_activites {
        flex-direction: column;
        align-items: center;
    }
    
    .colonne, .image_container  {
        max-width: 345px;
    }

    .activite_annonce, #activite_annonce2, #activite_annonce5 {
        margin-bottom: 25px;
    }

    #image_container1, #image_container2, #image_container3, #image_container4, #image_container5, #image_container6 {
        height: 130px;
    }

    #activite_image1, #activite_image2, #activite_image3, #activite_image4, #activite_image5, #activite_image6 {
        position: relative;
        width: 100%;
        height: auto;
    } 

    #activite_image1 {
        left: 0px;
        top: -40px;
    }

    #activite_image2 {
        top: -200px;
    }

    #activite_image6 {
        bottom: -50px;  
    }

    #activite_image4 {
        left: 0px;
        bottom: 55px;
    }

    #activite_image5 {
        top: -20px;
    }

    #activite_image6 {
        top: -50px; 
    }


    /* Footer */
    footer {
        flex-direction: column;
        justify-content: flex-start;
        justify-items: flex-start;
        width: 100%;
        margin: 25px 0px 0px 0px;
        padding: 30px 0px 10px 0px;
    }

    footer div {
        justify-items: flex-start;
        margin: 0px 0px 30px 0px;
        padding: 0px 0px 0px 35px;
        width: 90%;
    }

    footer div a {
        font-size: 14px;
    }

    footer div span {
        margin-bottom: 10px;
    }
}

/*---------------------------------------*/


